# Archivos de entorno
.env
env

# Dependencias
/vendor/
/node_modules/

# Cachés, logs y sesiones (writable se crea vacío en CI4)
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*

# Dejar dentro de cada carpeta el index.html placeholder:
!writable/cache/index.html
!writable/logs/index.html
!writable/session/index.html
!writable/uploads/index.html

# IDEs y editores
.idea/
/.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales y de prueba
*.log
*.tmp

# PHPUnit cache
.phpunit.result.cache
